*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --hue-neutral: 200;
  --hue-purple: 213;
  --hue-wrong: 0;
  --hue-correct: 145;
  --hue-yellow: 40;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px 2px;
  margin-bottom: 10px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10px;
  margin: 20px 0;
}

.btn {
  --hue: var(--hue-neutral);
  border: 1px solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
  outline: none;
}

#score {
  float: right;
  color: blue;
}

#correct {
  float: left;
  color: green;
}

#wrong {
  float: right;
  color: red;
}

.comment {
  text-align: center;
  font-weight: bold;
  font-size: 1.3rem;
}
.question {
  font-size: 1.3rem;
  border-bottom: 1px solid black;
}
.score {
  color: blue;
}
.red {
  color: red;
}

.green {
  color: green;
}

.btn:hover {
  border-color: black;
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn,
.next-btn,
.pass-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}
@media (max-width: 950px) {
  .container {
    width: 75%;
  }
}
@media (max-width: 700px) {
  .container {
    width: 90%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 100%;
  }
}
